@use "../utils" as *;

/*----------------------------
common button design
------------------------------*/

.cta-button {
  @media #{$xs} {
    display: none;
  }
  &-one {
    color: var(--td-theme-bg-color);
    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
    padding: 10px 20px;
    background-color: var(--td-theme-color);
    text-decoration: none;
    border-radius: 4px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
      color: var(--td-theme-color);
      background-color: #ffffff0f;
    }
  }
  &-two {
    color: var(--td-white);
    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
    padding: 10px 20px;
    background-color: #ffffff0f;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 16px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
      color: var(--td-theme-bg-color);
      background-color: var(--td-theme-color);
    }
    &-side {
      background-color: #222222;
    }
  }
}

.bar-button {
  display: none;
  @media #{$md,$xs} {
    display: block;
  }
  button {
    color: var(--td-white);
    img {
      width: 20px;
    }
  }
}

.td-offcanvas-close-toggle {
  img {
    width: 30px;
  }
}
